%h1.card-in
  %span.dope Hello.
                             
.clear.vspace_3
.grid_6.prefix_3.post-card-in
  %form{action: '/login', method: 'post'}
    = text_field_tag :email, placeholder: 'you@odopod.com'